:root{
    --top-color:#F8F8F8;
}
html ,body{
    margin:0;
    padding: 0;
    height:100%;
    width:100%;
}
body{
    font-family: 'Vazirmatn-Regular'!important;
    overflow-x: hidden;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}  
@font-face {
    font-family: Vazirmatn-Regular;
    src: url(../fonts/Vazirmatn-Regular.ttf);
    font-weight: 100px;
}
.container-top{
    height: 140px;
    max-width: unset !important;
    position: fixed;
    z-index: 998;
    top: 0;
}
.container-top .my-row .header-top{
    width: 100%;
    height: 65px;
    direction: rtl;
}
.box-right{
    width:88%;
    height:100%;
    float:right;
}
.box-left{
    width:18%;
    height:100%;
    float:right;
    display: flex;
}
.container-top .my-row .header-top .d-flex{
    background-color: #fff;
}
.container-top .my-row .header-top .d-flex .navbar-toggler{
    outline: none;
    border: none;
}
.container-top .my-row .header-top .d-flex .box-right .logo img{
    width: 50px;
    height: 49px;
    float: right;
}
.container-top .my-row .header-top .d-flex .box-left{
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu{
    width: 85%;
    justify-content: space-around;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .btn-close{
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    outline: none;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav{
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 0 !important;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .nav-link{
    color: #545454;
    font-size: 15px;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .nav-link:hover{
    text-decoration: none;
    color: #4DB9D3;
}
.nav-link {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    color: #545454;
    font-size: 15px;
    transition: color 0.3s ease;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #4DB9D3;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #4DB9D3;
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
  
.navbar-nav .nav-item .dropdown-toggle::after {
    display: none !important;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services{
    width: 560px;
    height: 150px;
    left: 0 !important;
    right: 0 !important;
    background-color: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services .part-mega-one .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services .part-mega-two .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services .part-mega-three .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services .part-mega-four .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-services .header-mega-menu{
    text-align: right;
    color: #4DB9D3;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-introduction{
    width: 350px;
    height: 150px;
    left: 0 !important;
    right: 0 !important;
    background-color: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-introduction .part-mega-one .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-introduction .part-mega-two .dropdown-item{
    border-right: 2px solid #4DB9D3;
    text-align: right;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .nav-item .mega-menu-introduction .header-mega-menu{
    text-align: right;
    color: #4DB9D3;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .header-button{
    width: 185px;
    height: 40px;
    text-decoration: none;
    background: linear-gradient(90deg,#4DB9D3,#3AAFB1 50%,#3aafb1c9);
    border-radius: 25px;
    margin-left: 13%;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .header-button:hover{
    background: #44c8d9;
    cursor: pointer;
}
.container-top .my-row .header-top .d-flex .box-right .header-menu .navbar-nav .header-button .nav-link{
    position: relative;
    right: 3px;
    font-size: 13px;
    color: #fff !important;
    text-decoration: none;
}
.container-top .my-row .header-top .d-flex .header-button{
    width: 185px;
    height: 40px;
    text-decoration: none;
    background: linear-gradient(90deg,#4DB9D3,#3AAFB1 50%,#3aafb1c9);;
    border-radius: 25px;
}
.container-top .my-row .header-top .d-flex .header-button:hover{
    background: #44b4d9;
    cursor: pointer;
}
.container-top .my-row .header-top .d-flex .header-button .header-button-b{
    position: relative;
    top: 10px;
    left: 15px;    
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.container-top .my-row .header-top .header-banner{
    width: 100%;
    height: 75px;
    background-image: url(../images/header-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-top .my-row .header-top .header-banner:hover{
    cursor: pointer;
}
.container-slider{
    height: 600px;
    margin-top: 160px;
    display: block;
}
.container-slider .slider{
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff,#f5f7f7);
}
.container-slider .slider .my-row-one{
    width: 100%;
    height: 550px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}
.container-slider .slider .my-row-one .side-right{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    order: 1;
}
.container-slider .slider .my-row-one .side-left{
    width: 50%;
    height: 100%;
    float: right;
    order: 2;
}
.container-slider .slider .my-row-one .side-right .text{
    margin-top: 20%;
    margin-right: 19%;
    text-align: right;
}
.container-slider .slider .my-row-one .side-right .text h1{
    font-size: 48px;
    font-weight: 600;
}
.container-slider .slider .my-row-one .slider-button{
    display: flex;
    gap: 8px;
    margin-top: 5%;
    margin-right: 19%;
}
.container-slider .slider .my-row-one .slider-button a:nth-child(1){
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    height: auto;
    padding: 19px 32px;
    color: #fff;
    background: #000;
}
.container-slider .slider .my-row-one .slider-button a:nth-child(1):hover{
    background: #323333;
    text-decoration: none;
}
.container-slider .slider .my-row-one .slider-button a:nth-child(2){
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    height: auto;
    padding: 19px 32px;
    color: #000;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
}
.container-slider .slider .my-row-one .side-left .image-slider img{
    width: 577px;
    height: 449px;
    border-radius: 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12);
}
.container-services .services .my-row-one{
    width: 100%;
    height: 300px;
    padding: 0;
}
.container-services .services .my-row-one .header-services{
    width: 90%;
    height: 50px;
    margin-top: 4%;
    margin-right: 10%;
}
.container-services .services .my-row-one .header-services h1{
    float: right;
    font-size: 35px;
    font-weight: 700;
}
.container-services .services .my-row-one .content-services-main{
    width: 100%;
    height: 150px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.container-services .services .my-row-one .content-services-main .content-services{
    width: 70%;
    height: 100%;
    display: flex;
    gap: 63px;
    direction: rtl;
}
.container-services .services .my-row-one .content-services-main .content-services .classic{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .classic .classic-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .classic span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-one .content-services-main .content-services .traveler{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .traveler .traveler-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .traveler span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-one .content-services-main .content-services .package{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .package .package-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .package span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-one .content-services-main .content-services .phone{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .phone .phone-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .phone span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-one  .content-services-main .content-services .Plus{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .Plus .Plus-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .Plus span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-one .content-services-main .content-services .intercity{
    width: 125px;
    height: 125px;
    border: none;
    outline: none;
    background: transparent;
}
.container-services .services .my-row-one .content-services-main .content-services .intercity .intercity-picture{
    width: 95px;
    height: 95px;
}
.container-services .services .my-row-one .content-services-main .content-services .intercity span{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.container-services .services .my-row-two .tapcontent{
    width: 76%;
    height: auto;
    margin-top: 3%;
    margin-right: 12%;
    margin-left: 12%;
    direction: rtl;
}
.tapcontent .side-right ,.side-left{
    width: 50%;
    height: 100%;
}
.container-services .services .my-row-two .tapcontent .side-right .text-tapcontent{
    margin-top: 5%;
}
.container-services .services .my-row-two .tapcontent .side-right .text-tapcontent h3{
    color: #141414;
    font-size: 28px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 20px;
}
.container-services .services .my-row-two .tapcontent .side-right .text-tapcontent p{
    color: #333;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
}
.container-services .services .my-row-two .tapcontent .side-left{
    justify-content: center;
}
.container-services .services .my-row-two .tapcontent .side-left .classic-image img{
    width: 450px;
    height: 350px;
}
.container-services .services .my-row-two .tapcontent .side-left .traveler-image img{
    width: 500px;
    height: 400px;
}
.container-services .services .my-row-two .tapcontent .side-left .package-image img{
    width: 500px;
    height: 400px;
}
.container-services .services .my-row-two .tapcontent .side-left .phone-image img{
    width: 500px;
    height: 400px;
}
.container-services .services .my-row-two .tapcontent .side-left .plus-image img{
    width: 500px;
    height: 400px;
}
.container-services .services .my-row-two .tapcontent .side-left .intercity-image img{
    width: 500px;
    height: 400px;
}
.container-registration .my-row .registration{
    width: 100%;
    height: 480px;
    display: flex;
    direction: rtl;
}
.registration .side-right ,.side-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 5%;
}
.container-registration .my-row .registration .side-right .image-registration img{
    width: 100%;
    height: 395px;
    margin: auto;
}
.container-registration .my-row .registration .side-left .text-registration h2{
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
}
.container-registration .my-row .registration .side-left .text-registration .description{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    margin-bottom: 15%;
}
.container-registration .my-row .registration .side-left .text-registration .button-registration a:nth-child(1){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 35px;
    color: #fff;
    background: #000;
    text-decoration: none;
}
.container-registration .my-row .registration .side-left .text-registration .button-registration a:nth-child(1):hover{
    background: #323333;
}
.container-registration .my-row .registration .side-left .text-registration .button-registration a:nth-child(2){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 35px;
    color: #000;
    text-decoration: none;
    position: relative;
    right: 55px;
}
.container-registration .my-row .registration .side-left .text-registration .button-registration i{
    color: #000;
    position: relative;
    top: 3px;
    right: 30px;
}
.container-Businesses .my-row .Businesses{
    width: 100%;
    height: auto;
    display: flex;
    direction: rtl;
}
.Businesses .side-right ,.side-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 5%;
}
.container-Businesses .my-row .Businesses .side-left .image-Businesses img{
    width: 100%;
    height: 395px;
    margin: auto;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses h2{
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: right;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .description{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    margin-bottom: 15%;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses{
    float: right;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses a:nth-child(1){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 35px;
    color: #fff;
    background: #000;
    text-decoration: none;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses a:nth-child(1):hover{
    background: #323333;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses a:nth-child(2){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 35px;
    color: #000;
    text-decoration: none;
    position: relative;
    right: 55px;
}
.container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses i{
    color: #000;
    position: relative;
    top: 3px;
    right: 40px;
}
.container-installation .my-row{
    justify-content: center;
}
.container-installation .my-row .installation{
    width: 85%;
    height: auto;
    display: flex;
    direction: rtl;
    justify-content: center;
}
.container-installation .my-row .installation .side-right{
    width: 690px;
    height: auto;
    background-color: #FCF0EA;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content:space-around;
    margin-top: 8%;
}
.container-installation .my-row .installation .side-right .text-installation{
    padding: 64px 64px 64px 0;
}
.container-installation .my-row .installation .side-right .text-installation h2{
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
}
.container-installation .my-row .installation .side-right .text-installation .description{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
}
.container-installation .my-row .installation .side-right .text-installation .button-installation{
    float: right;
    display: flex;
    gap: 10px;
}
.container-installation .my-row .installation .side-right .text-installation .button-installation a:nth-child(1){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 30px;
    color: #fff;
    background: linear-gradient(91deg,#f73,#ff5722 50%,#e54917);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.container-installation .my-row .installation .side-right .text-installation .button-installation a:nth-child(1):hover{
    background: #CE4316;
}
.container-installation .my-row .installation .side-right .text-installation .button-installation a:nth-child(2){
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 26px;
    color: #000;
    background: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.container-installation .my-row .installation .side-right .text-installation .button-installation a:nth-child(2):hover{
    background: #DFDFDF;
}
.container-installation .my-row .installation .side-left{
    width: 545px;
    height: auto;
    display: flex;
    justify-content:space-around;
    margin-top: 8%;
}
.container-installation .my-row .installation .side-left .image-installation img{
    width: 100%;
    height: 100%;
    background-color: #FCF0EA;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.container-blog .my-row .blog{
    width: 100%;
    height: auto;
    padding: 8% 10%;;
}
.container-blog .my-row .blog .header-blog h2{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: right;
    margin: 0;
}
.container-blog .my-row .blog .posts-blog{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 5%;
    gap: 12px;
    justify-content: center;
    direction: rtl;
}
.container-blog .my-row .blog .posts-blog .blog-part-one ,.blog-part-two ,.blog-part-three{
    width: 30%;
    height: 100%;
}
.container-blog .my-row .blog .posts-blog .blog-part-one{
    width: 400px;
    height: 500px;
    transition: 0.5s;
}
.container-blog .my-row .blog .posts-blog .blog-part-one:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}
.container-blog .my-row .blog .posts-blog .blog-part-one .image-part-one img{
    width: 350px;
    height: 235px;
    border-radius: 12px;
    margin: 25px;
}
.container-blog .my-row .blog .posts-blog .blog-part-one .text-blog h3{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
    margin-bottom: 20px;
}
.container-blog .my-row .blog .posts-blog .blog-part-one .text-blog .description{
    text-align: right;
    padding-right: 25px;
    color: #9b9b9b;
    font-size: 16px;
    line-height: 25px;
}
.container-blog .my-row .blog .posts-blog .blog-part-two{
    width: 400px;
    height: 500px;
    transition: 0.5s;
}
.container-blog .my-row .blog .posts-blog .blog-part-two:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}
.container-blog .my-row .blog .posts-blog .blog-part-two .image-part-two img{
    width: 350px;
    height: 235px;
    border-radius: 12px;
    margin: 25px;
}
.container-blog .my-row .blog .posts-blog .blog-part-two .text-blog h3{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
    margin-bottom: 45px;
}
.container-blog .my-row .blog .posts-blog .blog-part-two .text-blog .description{
    text-align: right;
    padding-right: 25px;
    color: #9b9b9b;
    font-size: 16px;
    line-height: 25px;
}
.container-blog .my-row .blog .posts-blog .blog-part-three{
    width: 400px;
    height: 500px;
    transition: 0.5s;
}
.container-blog .my-row .blog .posts-blog .blog-part-three:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}
.container-blog .my-row .blog .posts-blog .blog-part-three .image-part-three img{
    width: 350px;
    height: 235px;
    border-radius: 12px;
    margin: 25px;
}
.container-blog .my-row .blog .posts-blog .blog-part-three .text-blog h3{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
    margin-bottom: 45px;
}
.container-blog .my-row .blog .posts-blog .blog-part-three .text-blog .description{
    text-align: right;
    padding-right: 25px;
    color: #9b9b9b;
    font-size: 16px;
    line-height: 25px;
}
.container-footer .my-row .tapsi-footer{
    width: 100%;
    height: auto;
    padding: 5% 8%;
    background-color: #000;
    direction: rtl;
}
.container-footer .my-row .tapsi-footer .main-footer{
    width: 100%;
    height: 250px;
    display: flex;
    gap: 9px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one{
    width: 205px;
    height: auto;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one .logo{
    display: flex;
    flex-direction: column;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one .logo img{
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-bottom: 20px;
    line-height: 30px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one .logo img{
    cursor: pointer;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one .logo h3{
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    margin: 0;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-one .logo p{
    font-size: 12px;
    line-height: 30px;
    color: #acacac;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-two{
    width: 185px;
    height: auto;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-two .tapsi{
    display: flex;
    flex-direction: column;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-two .tapsi h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-two .tapsi a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-two .tapsi a:hover{
    color: #ff5722;
    cursor: pointer;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-three{
    width: 185px;
    height: auto;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-three .passengers{
    display: flex;
    flex-direction: column;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-three .passengers h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-three .passengers a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-three .passengers a:hover{
    color: #ff5722;
    cursor: pointer;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-four{
    width: 185px;
    height: auto;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-four .drivers{
    display: flex;
    flex-direction: column;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-four .drivers h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-four .drivers a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-four .drivers a:hover{
    color: #ff5722;
    cursor: pointer;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-five{
    width: 185px;
    height: auto;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-five .businesse{
    display: flex;
    flex-direction: column;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-five .businesse h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-five .businesse a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-five .businesse a:hover{
    color: #ff5722;
    cursor: pointer;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six{
    width: 320px;
    height: 225px;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust{
    width: 100%;
    height: 100%;
    display: flex;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-one{
    width: 80px;
    height: 100%;
    background: #fff;
    border-radius: 12px;
    margin-left: 10px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-one .image-one img{
    width: 78px;
    height: 82px;
    position: relative;
    top: 65px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-two{
    width: 100px;
    height: 100%;
    background: #fff;
    border-radius: 12px;
    margin-left: 10px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-two .image-two img{
    width: 100%;
    height: 100px;
    position: relative;
    top: 55px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-three{
    width: 120px;
    height: 100%;
    background: #fff;
    border-radius: 12px;
    margin-left: 10px;
}
.container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-three .image-three{
    width: 100%;
    height: 135px;
    position: relative;
    top: 45px;
}
.container-footer .my-row .tapsi-footer .footer-social{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container-footer .my-row .tapsi-footer .footer-social h3{
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: right;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-facebook-f{
    font-size: 25px;
    color: #acacac;
    margin-left: 15px;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-facebook-f:hover{
    color: #FB8121;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-instagram{
    font-size: 25px;
    color: #acacac;
    margin-left: 15px;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-instagram:hover{
    color: #FB8121;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-twitter{
    font-size: 25px;
    color: #acacac;
    margin-left: 15px;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-twitter:hover{
    color: #FB8121;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-invision{
    font-size: 25px;
    color: #acacac;
    margin-left: 15px;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-invision:hover{
    color: #FB8121;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-telegram{
    font-size: 25px;
    color: #acacac;
    margin-left: 15px;
}
.container-footer .my-row .tapsi-footer .footer-social .social-links .fa-telegram:hover{
    color: #FB8121;
}

/* media query */

    @media (max-width: 992px) {
        .container-top{
            height: 65px !important;
        }

        .container-top .my-row .header-top .d-flex {
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
        }
    
        .container-top .my-row .header-top .d-flex .box-right {
            width: auto;
            float: none;
            display: flex;
            align-items: center;
        }
    
        .container-top .my-row .header-top .d-flex .box-right .logo img {
            float: left !important;
        }

        .container-top .my-row .header-top .d-flex .box-right .header-menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 250px !important;
            height: 100%;
            background-color: #fff;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
            transform: translateX(100%);
            transition: transform 0.3s ease;
            z-index: 1050;
        }

        .container-top .my-row .header-top .d-flex .box-right .header-menu.collapse.show {
            transform: translateX(0);
        }
    
        .container-top .my-row .header-top .d-flex .navbar-toggler {
            order: 1;
        }
    
        .container-top .my-row .header-top .d-flex .box-right {
            order: 2;
        }
    
        .container-top .my-row .header-top .d-flex .box-left {
            display: none !important;
        }
    }
    
    @media (max-width: 768px) {
        .container-slider{
            height: auto;
            margin-top: 0 !important;
        }  
        .container-slider .slider {
            height: auto;
            margin-top: 60px;
            padding: 20px 0;
        }
        .container-slider .slider .my-row-one {
            flex-direction: column;
            height: auto;
            align-items: center;
            text-align: center;
            direction: rtl;
        }
        .container-slider .slider .my-row-one .side-right,
        .container-slider .slider .my-row-one .side-left {
            width: 100%;
            height: auto;
            float: none;
            order: unset;
        }
        .container-slider .slider .my-row-one .side-right .text {
            margin: 0 10% 20px 10%;
            text-align: center;
        }
        .container-slider .slider .my-row-one .side-right .text h1 {
            font-size: 32px;
        }
        .container-slider .slider .my-row-one .slider-button {
            flex-direction: column;
            align-items: center;
            margin: 20px 0 0 0;
        }
        .container-slider .slider .my-row-one .slider-button a {
            width: 80%;
            text-align: center;
        }
        .container-slider .slider .my-row-one .side-left .image-slider img{
            width: 90%;
            height: auto;
            aspect-ratio: 1.3/1;
            margin: 20px 0;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
        }
    }
  
    @media screen and (max-width: 1200px){
        .container-services .services .my-row-one .content-services-main .content-services{
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 768px){
        .container-services .services .my-row-one .header-services h1{
            float: right;
            font-size: 25px;
            font-weight: 700;
        }
    }

    @media (max-width: 768px) {
        .tapcontent {
            flex-direction: column-reverse !important;
            height: auto;
        }

        .tapcontent .side-right,
        .tapcontent .side-left {
            width: 100%;
            float: none;
            text-align: center;
        }

        .tapcontent .side-left img {
            width: 100%;
            height: auto;
            max-width: 450px;
            max-height: 350px;
        }

        .container-services .services .my-row-two .tapcontent .side-right .text-tapcontent h3{
            font-size: 20px;
            text-align: right;
        }

        .container-services .services .my-row-two .tapcontent .side-right .text-tapcontent p{
            font-size: 15px;
        }
    }
    @media (max-width: 768px) {
        .registration {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container-registration .my-row .registration{
            width: 100%;
            height: auto;
            display: flex;
            direction: rtl;
        }

        .registration .side-right,
        .registration .side-left {
            width: 100%;
            height: auto;
            float: none;
            justify-content: flex-start;
            margin: 0 !important;
        }

        .container-registration .my-row .registration .side-right .image-registration img{
            width: 100%;
            height: auto;
            aspect-ratio: 14 / 9;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        .container-registration .my-row .registration .side-left .text-registration {
            padding: 0 20px;
            text-align: center;
        }

        .container-registration .my-row .registration .side-left .text-registration h2{
            color: #141414;
            font-size: 20px;
            font-weight: 600;
            line-height: 48px;
            margin-bottom: 5px;
            text-align: right;
        }

        .container-registration .my-row .registration .side-left .text-registration .description{
            color: #333;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            text-align: right;
            margin-bottom: 10%;
        }

        .container-registration .my-row .registration .side-left .text-registration .description ul{
            padding-right: 15px !important;    
        }

        .container-registration .my-row .registration .side-left .text-registration .button-registration {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        .container-registration .my-row .registration .side-left .text-registration .button-registration a:nth-child(1){
            padding: 10px 24px;
            font-size: 14px;
        }

        .container-registration .my-row .registration .side-left .text-registration .button-registration a:nth-child(2),
        .container-registration .my-row .registration .side-left .text-registration .button-registration i {
            position: static;
            padding: 10px 24px;
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {
        .container-registration .my-row .registration .side-left .text-registration .button-registration {
            display: flex;
            flex-direction: column; 
            gap: 10px;
            align-items: flex-start;
        }
    }
  

    @media (max-width: 768px) {
        .Businesses {
            flex-direction: column;
            align-items: center;
        }

        .Businesses .side-left {
            order: 1;
            width: 100%;
            margin: 0 !important;
        }

        .Businesses .side-right {
            order: 2;
            width: 100%;
            margin: 0 !important;
            justify-content: flex-start;
        }       

        .container-Businesses .my-row .Businesses .side-left .image-Businesses img{
            width: 100%;
            height: auto;
            aspect-ratio: 14 / 9;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        .container-Businesses .my-row .Businesses .side-right .text-Businesses {
            width: 100%;
            padding: 0 20px;
            text-align: center;
        }
        
        .container-Businesses .my-row .Businesses .side-right .text-Businesses h2{
            color: #141414;
            font-size: 20px;
            font-weight: 600;
            line-height: 48px;
            margin-bottom: 5px;
            text-align: right;
        }

        .container-Businesses .my-row .Businesses .side-right .text-Businesses .description{
            color: #333;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            text-align: right;
            margin-bottom: 10%;
        }

        .container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        .container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses a:nth-child(1){
            padding: 10px 24px;
            font-size: 14px;
        }

        .container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses a:nth-child(2),
        .container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses i {
            position: static;
            padding: 10px 24px;
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {
        .container-Businesses .my-row .Businesses .side-right .text-Businesses .button-Businesses {
            display: flex;
            flex-direction: column; 
            gap: 10px;
            align-items: flex-start;
        }
    }

    @media (max-width: 768px) {
        .container-installation .my-row .installation {
            flex-direction: column-reverse;
            align-items: center;
        }

        .container-installation .my-row .installation .side-right,
        .container-installation .my-row .installation .side-left {
            width: 90%;
            margin-top: 4%;
            border-radius: 30px !important;
        }

        .container-installation .my-row .installation .side-left .image-installation img {
            border-radius: 30px;
        }

        .container-installation .my-row .installation .side-right .text-installation {
            padding: 32px;
        }

        .container-installation .my-row .installation .side-right .text-installation h2,
        .container-installation .my-row .installation .side-right .text-installation .description,
        .container-installation .my-row .installation .side-right .text-installation .button-installation {
            text-align: center;
            float: none;
            justify-content: center;
        }

        .container-installation .my-row .installation .side-right .text-installation .button-installation {
            flex-direction: column;
            align-items: center;
        }

        .container-installation .my-row .installation .side-right .text-installation .button-installation a {
            width: 100%;
            text-align: center;
        }
    }

    @media (max-width: 992px) {
        .container-installation .my-row .installation .side-right .text-installation .button-installation {
            display: flex;
            flex-direction: column; 
            gap: 10px;
            align-items: flex-start;
        }
    }

    @media screen and (max-width: 768px){
        .container-blog .my-row .blog .posts-blog{
            width: 100%;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .blog-part-one,
        .blog-part-two,
        .blog-part-three {
            margin: 0 auto 20px auto;
        }

        .container-blog .my-row .blog .header-blog h2{
            text-align: center;
        }

        .container-blog .my-row .blog .posts-blog .blog-part-one .image-part-one img{
            width: 350px;
            height: auto;
            border-radius: 12px;
            margin: 25px;
        }
        .container-blog .my-row .blog .posts-blog .blog-part-two .image-part-two img{
            width: 350px;
            height: auto;
            border-radius: 12px;
            margin: 25px;
        }
        .container-blog .my-row .blog .posts-blog .blog-part-three .image-part-three img{
            width: 350px;
            height: auto;
            border-radius: 12px;
            margin: 25px;
        }
    }

    @media screen and (max-width: 1200px) {
        .container-blog .my-row .blog{
            padding: 8% 4%;
        }

        .container-blog .my-row .blog .posts-blog {
          justify-content: center;
        }
      
        .blog-part-one,
        .blog-part-two,
        .blog-part-three {
          max-width: 320px !important;
          max-height: 480px !important;
          margin-bottom: 20px;
        }
      
        .blog-part-one img,
        .blog-part-two img,
        .blog-part-three img {
          width: 90% !important;
          margin: 10px 0px 10px 13px!important;
        }
      }

      @media screen and (max-width: 768px) {
        .container-footer .my-row .tapsi-footer{
            padding: 5% 0% 0% 0% !important;
        }
        .container-footer .my-row .tapsi-footer .main-footer {
            flex-direction: column;
            align-items: center;
            height: auto; 
        }
      
        .container-footer .my-row .tapsi-footer .main-footer > div {
            width: 90% !important;
            margin-bottom: 20px; 
        }
      
        .container-footer .my-row .tapsi-footer {
            height: auto;
        }

        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six {
            max-height: 130px !important;
        }

        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-one .image-one img{
            top: 25px !important;
        }

        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-two .image-two img{
            top: 15px !important;
        }

        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust .trust-col-three .image-three img{
            position: relative;
            bottom: 45px !important;
        }

        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six .trust{
            justify-content: space-between;
        }

        .container-footer .my-row .tapsi-footer .footer-social .social-links{
            justify-content: space-evenly !important;
        }
    }

    @media (max-width: 1200px) {
        .container-footer .my-row .tapsi-footer{
            height: auto;
        }

        .container-footer .my-row .tapsi-footer .main-footer {
            flex-wrap: wrap;
            height: auto;
        }
      
        .container-footer .my-row .tapsi-footer .main-footer .footer-part-six {
            order: 6;
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
      
        .container-footer .my-row .tapsi-footer .footer-social {
            align-items: center;
            margin-top: 20px;
        }
      
        .container-footer .my-row .tapsi-footer .footer-social h3 {
            margin-left: auto;
            margin-right: 0;
        }
      
        .container-footer .my-row .tapsi-footer .main-footer > div {
            margin-bottom: 20px;
        }
      }